body {
    background-color: whitesmoke;
    margin-left: 30px;
}

h1 {
    color: lightcoral;
    font-size: 24px;
}

h2 {
    color: lightsalmon;
    font-size: 24px;
}

h3 {
    color: lightskyblue;
    font-size: 24px;
}

h4 {
    color: lightsteelblue;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: black;
}

p a {
    color: lightblue;
    text-decoration: none;
}