body {
    background-color: whitesmoke;
    margin-left: 30px;
}

h1 {
    color: lightcoral;
    font-size: 36px;
}

p {
    font-size: 20px;
    color: black;
}

p a {
    color: lightblue;
    text-decoration: none;
}