<h1>My User Account</h1>

<dl>
  <dt>Username:</dt>
  <dd><%= @user["username"] %></dd>
  <dt>Email:</dt>
  <dd><%= @user["email"] %></dd>
  <dt>Password:</dt>
  <dd><%= @user["password"] %></dd>
</dl>