<h2 class="mt-4">Places</h2>

  <% for place in @places %>
    <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
  <% end %>

<p>
  <a href="/places/new" class="btn btn-success">New place</a>
</p>